{literal}
    <script>
        $(function(){
            var bibinet_api_options = {
                form_settings:{
                    default_value: {
                        sel_type: "contracts",
                        city: "33"
                    }
                }
            };

            document.write('<script type="text/javascript" src="http://bibinet.ru/static/api4/bibinet.api.init.js?r=' + Math.random() + '"><\/script>')
        });
    </script>
{/literal}

<div id="search_api_bibinet">
    <a href="http://bibinet.ru">Система поиска автозапчастей bibinet.ru</a>
</div>
