.hidden {
    display: none;
}

.auto_changes{
    background: rgb(255, 249, 179);
}
/*--------------------------------------------------------------------------------------------------------------------*/
.component-auto .hidden {
    display: none;
}

.component-auto .d-inline{
    display: inline-block;
    vertical-align: top;
}

.component-auto .form-field-error-border{
    border: 1px solid red;
}

.component-auto .form-field-error {
    color: red;
    font-size: 12px;
}

.component-auto .auto_err_msg {
    margin: 10px 0;
    background: #FFA1A1;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px 10px;
}

.form-submit-container .form-submit{
    display: block;
}

.form-submit-container .form-preloader{
    display: none;
}

form.submitted .form-submit-container .form-submit{
    display: none;
}

form.submitted .form-submit-container .form-preloader{
    background: url(../img/preloaders/hor-preloader_80x10.GIF);
    display: block;
    height: 10px;
    width: 80px;
}


.component-auto .autoshop_success_msg {
    margin: 10px 0;
    background: #E0FFE2;
    border: 1px solid #5cff31;
    border-radius: 5px;
    padding: 15px 10px;
}

.component-auto .auto_err_msg > li {
    margin-left: 30px;
    font-weight: bold;
    font-size: 13px;
    color: #070048;
}

.component-auto .auto_err_msg .error-field-desc > span{
    border-bottom: 1px dashed;
    cursor: pointer;
}

.component-auto .list_no_item {
    text-align: center;
    padding: 15px 0;
}

.component-auto {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


#search_layer {
    overflow: hidden;
}

#search_layer_cats table tr td i {
    color: #555;
    font-style: normal;
    display: block;
    margin: 11px 0 5px 0;
    font-weight: bold;
    font-size: 14px;
}

#search_layer_cats table tr td a {
    color: #038edd;
    outline-color: #EEE;
    margin-right: 5px;
    text-decoration: underline;
    font-size: 18px;
}

#search_layer_cats table tr td a:hover {
    color: red;
}

#search_layer_cats table tr td a:hover img {
    opacity: 1;
}

#search_layer_cats table tr td .autoshop_cats_img {
    vertical-align: -4px;
    margin-right: 5px;
    border-right: 1px solid blue;
    padding-right: 2px;
    opacity: .3;
}

#search_layer_cats table tr td H3 {
    margin: 10px 0px;
    color: #BBB;
    font-size: 14px;
    line-height: 1.2em;
}

#search_layer_cats table tr > td {
    vertical-align: top;
    padding-left: 20px;
}

.select_opt {
    color: #daa520;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* region new css styles */
.auto-ajax-link{
    display: inline;
    text-decoration: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.auto-ajax-link:hover{
    color: red;
}

.label-block{
    display: block;
}

.auto-field-req{
    color: red;
}

.auto-message{
    margin: 10px 0;
    background: #fff5e7;
    border: 1px solid #fcffc6;
    border-radius: 5px;
    padding: 15px 10px;
    font-weight: bold;
}

.auto-message.limited{

}

.auto-message.success{
    background: #C5FFB8;
    border: 1px solid #D8D8FF;
}

.auto-message.closed{
    background: #FFD8D8;
    border: 1px solid #D8D8FF;
}

.auto-message.pre-moderation{
    background: #E9FFE4;
    border: 1px solid #D8D8FF;
}

.auto-message.post-moderation{
    background: #C5FFB8;
    border: 1px solid #D8D8FF;
}

#currency-control{
    position: fixed;
    left: 0;
    top: 0;
    background: #f5f5f5;
    border: 1px solid #EFEFEF;
    box-shadow: 2px 2px 10px 1px rgb(190, 190, 190);
    padding: 5px;
    display: none;
}

#currency-control > div{
    display: inline;
    padding: 2px 5px;
    cursor: pointer;
    color: #008000;
    font-size: 14px;
    border: 5px solid transparent;
}
#currency-control > div.current{
    color: red;
    background: rgb(223, 234, 255);
    border-radius: 50%;
    border: 5px dotted;
}

#currency-control > div:hover{
    color: red;
    background: rgb(223, 234, 255);
    border-radius: 50%;
}

/* region main cats section*/
.cat-container{
    display: table;
    width: 100%;
}
.cats-column{
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}

.cats-column .cat-char-container:hover .cat-fs_title{
    color: red;
}

.cats-column .cat-char-container .cat-fs_title{
    color: #555;
    font-style: normal;
    display: block;
    margin: 11px 0 5px 0;
    font-weight: bold;
    font-size: 14px;
}

.cats-column h3{
    margin: 10px 0px;
    color: #BBB;
    font-size: 14px;
    line-height: 1.2em;
}

.cats-column .cat-container .cat-link{
    color: #038edd;
    outline-color: #EEE;
    margin-right: 5px;
    font-size: 18px;
    text-decoration: none;
}

.cats-column .cat-container .cat-link .cat-title{
    text-decoration: underline;
}

.cats-column .cat-container .cat-link .cat-title:hover{
    color: red;
}

.cats-column .cat-container .cat-link .cat-title.popular{
    font-weight: bold;
}

.cats-column .cat-container .cat-link img{
    vertical-align: -4px;
    margin-right: 5px;
    border-right: 1px solid blue;
    padding-right: 2px;
    opacity: .3;
}

.cats-column .cat-container .cat-link:hover img{
    opacity: 1;
}

/* endregion main cats section */

/* region controlLinks */
.auto-controlLinks > a{
    color: #038edd;
    outline-color: #EEE;
    margin: 0 20px 0 0;
    font-size: 18px;
    text-decoration: underline;
}

.auto-controlLinks > a.auto-controlLinks-right{
    float: right;
}

.auto-controlLinks > a:hover{
    color: red;
}
/* endregion */

/* region search */
#searchFilter-container{
    overflow: hidden;
    background: #f5f5f5;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 5px 15px 15px;
    font-size: 12px;
}


.geo-selector_container{

}

.geo-selector_container .geo-selector_item{
    border-bottom: 1px dashed;
    cursor: pointer;
    color: #038edd;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 10px;
}

.geo-selector_container .geo-selector_item:hover{
    color: red;
}

.geo-selector-data_container select{
    width: 100%;
}

.geo-selector-btn_container{
    margin-top: 15px;
}

.geo-selector-data_container label{
    display: block;
    width: 100%;
}

.geo-selector-data_container input,
.geo-selector-data_container button{
    width: 40%;
}

.geo-selector-data_container button{
    float: right;
}


#searchFilter-container input,
#searchFilter-container select{
    margin: 0px;
}

#searchFilter-container .searchFilter-form .searchFilter-vendorSelect{
    width: 150px;
}

#searchFilter-container .searchFilter-form .searchFilter-modelSelect{
    width: 170px;
}

#searchFilter-container .searchFilter-form .searchFilter-priceInput{
    width: 82px;
}

#searchFilter-container .searchFilter-form .searchFilter-dateSelect{
    width: 55px;
}

#searchFilter-container .searchFilter-form .searchFilter-volumeSelect{
    width: 55px;
}

#searchFilter-container .searchFilter-section{
    float: left;
    height: 40px;
    padding: 0 20px 0 0;
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.searchFilter-section .searchFilter-section-title{
    font-size: 11px;
    color: #A6A6A6;
}

.searchFilter-section .searchFilter-section-content{

}

.searchFilter-section .searchFilter-section-content.searchFilter-withoutTitle{
    margin-top: 21px;
}

.searchFilter-section .searchFilter-section-content.searchFilter-withoutTitle label{
    margin: 20px 10px 0 0;
    color: #555;
}

.searchFilter-section .searchFilter-section-content label .label-title{
    vertical-align: 2px;
    cursor: pointer;
}

.searchFilter-section.searchFilter-submit-container{
    float: right!important;
}

#searchFilter-container #searchFilter-section-more-container{
    display: none;
    clear: left;
    padding-top: 10px;
}

#searchFilter-container #searchFilter-section-more-container .searchFilter-section{
    float: none;
    margin-bottom: 5px;
}

#searchFilter-container #searchFilter-section-more-container .searchFilter-section .searchFilter-section-title{

}

#searchFilter-container #searchFilter-section-more-showBtn{
    cursor: pointer;
    margin: 3px 15px 0 0;
    color: #F00000;
    border-bottom: 1px dashed;
    text-decoration: none;
    float: left;
    font-size: 11px;
}

#searchFilter-container #searchFilter-section-more-showBtn > .searchFilter-image{
    background: url('/components/auto/styles/default/img/rfilter_arrow.gif') no-repeat;
    width: 7px;
    height: 10px;
    float: left;
    margin: 5px 5px 0 0;
    background-position: -10px 0px;
}

#searchFilter-container #searchFilter-section-more-showBtn.opened,
#searchFilter-container #searchFilter-section-more-showBtn:hover{
    color: #008000;
}

#searchFilter-container #searchFilter-section-more-showBtn.opened:hover{
    color: #F00000;
}
#searchFilter-container #searchFilter-section-more-showBtn.opened > .searchFilter-image{
    background-position: -20px 0px;
}

#searchFilter-container #searchFilter-section-more-showBtn.opened:hover > .searchFilter-image{
    background-position: 0px 0px;
}

#searchFilter-container #searchFilter-section-more-showBtn:hover > .searchFilter-image{
    background-position: -30px 0px;
}
/* endregion */

/* region ads list */

.component-auto .list_units {
    width: 100%;
}

.component-auto .list_units .aditem {
    border-bottom: 1px solid #D0D3DB;
    cursor: pointer;
}

.component-auto .list_units .aditem.cabinet{
    cursor: default;
}

.component-auto .list_units .aditem.ad_hidden{
    background: #FFE5E5;
}

.component-auto .list_units .aditem .list_date a{
    position: relative;
}

.component-auto .list_units .aditem.auto_sold{
    background: rgb(226, 255, 235);
}

.component-auto .list_units .aditem.ad_hidden .ad_hidden-ico{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../img/a-hidden.png);
    left: 35%;
}
.component-auto .list_units .aditem .ad_up-ico{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../img/a-up.png);
    left: 35%;
    bottom: 5px;
}
.component-auto .list_units .aditem .ad_pin-ico{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background: url(../img/pin.png);
    left: 35%;
    bottom: 5px;
}

.component-auto .list_units.autoshop_cabinet_list {
    width: 100%;
    text-align: center;
}

.component-auto .list_units thead {
    border-bottom: 1px solid #D0D3DB;
    color: #808080;
}

.component-auto .list_units .ordering th{
    text-decoration: underline;
    cursor: pointer;
}

.component-auto .list_units .ordering th:hover {
    color: red;
}

.component-auto .list_units.autoshop_item_view th {
    text-decoration: none;
    color: #808080 !important;
    font-weight: normal;
    cursor: default;
}

.component-auto .list_units th .currency_type {
    height: 13px;
    width: 89px;
    overflow: hidden;
    background: #4C93E8 url('../img/currency.gif') left top no-repeat;
    cursor: pointer;
    font-weight: bold;
}

.component-auto .list_units th .currency_type > span {
    font-size: 10px;
    color: white;
    text-decoration: none;
    width: 29px;
    text-align: center;
    display: block;
    float: left;
    line-height: 12px;
}

.component-auto .list_units th .currency_type > span:hover {
    color: red;
}

.component-auto .list_units th .currency_type.cur_1 {
    background-position: 0px -14px;
}

.component-auto .list_units th .currency_type.cur_2 {
    background-position: 0px -28px;
}

.component-auto .list_units th .currency_type.cur_3 {
    background-position: 0px -42px;
}

.component-auto .list_units tbody tr.autoshop_list_unit_vip {
    color: #000000;
    font-weight: bold;
}

.component-auto .list_units tbody tr.autoshop_list_unit_vip td > a {
    color: #000000;
}

.component-auto .list_units tbody td {
    vertical-align: middle;
}

.component-auto .list_units tbody td img{
    background: url(../img/preloaders/cirl-35x35.GIF) center no-repeat;
    width: 85px;
    height: 75px;
}

.component-auto .list_units tbody tr:hover {
    background: rgb(238, 238, 238)!important;
}

/*.component-auto .list_units .list_date {*/
    /*width: 55px;*/
/*}*/

.component-auto .list_units .date_cr {
    width: 50px;
}

.component-auto .list_units .aditem_spec_icon{
    background: url(../img/adlist-sprite.png);
    width: 15px;
    height: 19px;
}

.component-auto .list_units .aditem_spec_icon.is_undoc{
    background-position: 0px -42px;
}
.component-auto .list_units .aditem_spec_icon.is_broken{
    background-position: 0px 0px;
}
.component-auto .list_units .aditem_spec_icon.is_cut{
    background-position: 0px -21px;
}

.component-auto .list_units td.controls-btns {
    height: 100px;
    position: relative;
}

.component-auto .list_units td.controls-btns > a {
    line-height: normal;
    height: auto;
}

.component-auto .list_units .controls-btns .c-btn{
    background: url('../img/cabinet_actions_sprite.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.component-auto .list_units .auto_sold .c-btn.edit,
.component-auto .list_units .auto_sold .c-btn.pm,
.component-auto .list_units .auto_sold .btn_sold {
    display: none;
}

.component-auto .list_units .controls-btns .c-btn.edit{
    background-position: 0 0;
}

.component-auto .list_units .controls-btns .c-btn.edit:hover{
    background-position: -32px 0;
}

.component-auto .list_units .controls-btns .c-btn.pm{
    background-position: -64px 0;
}

.component-auto .list_units .controls-btns .c-btn.pm:hover{
    background-position: -96px 0;
}

.component-auto .list_units .controls-btns .c-btn.show{
    background-position: -128px 0;
}

.component-auto .list_units .controls-btns .c-btn.show:hover{
    background-position: -160px 0;
}

.component-auto .list_units .controls-btns .btn_sold{
    border-bottom: 1px dashed;
    cursor: pointer;
}

.component-auto .list_units .controls-btns .btn_sold:hover{
    color: red;
}

.component-auto .list_units td > a {
    text-decoration: none;
    display: block;
    height: 75px;
    color: #000000;
    line-height: 75px;
}

.component-auto .list_units td > a div.geo{
    line-height: normal;
    color: #AAA;
}

.component-auto .list_units td > a:visited {
    color: #818181;
}

.component-auto .list_units td.questions_control a{
    text-decoration: underline;
    color: blue;
}

.component-auto .list_units td.questions_control a:hover{
    color: red;
}


.component-auto .list_units a .direction{
    width: 15px;
    height: 15px;
    display: inline-block;
}

.component-auto .list_units a.order .direction{
    background: url(../img/sort_sprite.PNG) no-repeat right;
}
.component-auto .list_units a.desc .direction{
    background-position: 0px 0;
}

.component-auto .list_units a.asc .direction{
    background-position: -15px 0;
}

/* endregion */

/* region show */

#auto-show-container{

}

#auto-show-container .auto-show-title{
    color: red;
    font-size: 20px;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#auto-show-container .auto-show-title .auto-show-icTitle{
    font-style: italic;
}

#auto-show-container .auto-show-info{
    color: #AAA;
    font-size: 12px;
    overflow: hidden;
}

#auto-show-container .auto-show-info .auto-show-info_left{
    float: left;
}

#auto-show-container .auto-show-info .auto-show-info_right{
    float: right;
}

#auto-show-container .auto-show-info .auto-show-info_right .auto-show-callSup{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

#auto-show-container .auto-show-info .auto-show-info_right .auto-show-callSup > span{
    border-bottom: 1px dashed;
}

#auto-show-container .auto-show-info .auto-show-info_right .auto-show-callSup:hover{
    color: red;
}

#auto-show-container .auto-show-info .auto-show-info_right .auto-show-views{
    float: right;
}

#auto-show-container .auto-show-data{
    overflow: hidden;
}

#auto-show-container .auto-show-data .action-panel{
    background: #F0F0F0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 15px 9px 15px;
    margin: 10px 0 15px 0;
    line-height: 1.4;
    font-size: 13px !important;
    border: 1px solid #E8E8E8;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons{
    overflow: hidden;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-btn{
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgb(219, 231, 255);
    cursor: pointer;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-btn .title{
    text-decoration: underline;
    vertical-align: 10px;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-btn:hover .title{
    color: red;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-btn .ico{
    display: inline-block;
    width: 42px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-edit .ico{
    background-image: url(../img/show-edit.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-pm .ico{
    background-image: url(../img/show-pm.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-cabinet .ico{
    background-image: url(../img/show-private.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-questions .ico{
    background-image: url(../img/show-questions.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-pay_services .ico{
    background-image: url(../img/show-pay_services.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-print .ico{
    background-image: url(../img/show-print.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-sold{
    float: right;
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-sold .ico{
    background-image: url(../img/show-sold.png);
}

#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-pay_services .title,
#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-print .title,
#auto-show-container .auto-show-data .action-panel .ap-buttons .ap-show-sold .title{
    text-decoration: none;
    border-bottom: 1px dashed;
}

#auto-show-container .auto-show-data .action-panel .action-panel-bottom{
    height: 40px;
    background: #E7E7E7;
    border-top: 1px solid #dcdcdc;
    margin: 12px -15px -9px -15px;
    border-radius: 0 0 3px 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/*region show share*/
#share_panel {
    overflow: hidden;
    padding: 8px 10px;
}

#share_panel .share_soc_icons {
    background: url('/components/auto/styles/default/img/social.png') no-repeat;
    height: 24px;
    width: 24px;
    margin: 0 5px;
    float: left;
    display: block;
    padding: 0;
    border: 0;
    cursor: pointer;
}

#share_panel .share_soc_icons.share_vk {
    background-position: -154px -25px
}

#share_panel .share_soc_icons.share_vk:hover {
    background-position: -154px 0px
}

#share_panel .share_soc_icons.share_ok {
    background-position: -102px -25px;
    width: 25px;
}

#share_panel .share_soc_icons.share_ok:hover {
    background-position: -102px 0px;
}

#share_panel .share_soc_icons.share_fb {
    background-position: 0px -25px;
}

#share_panel .share_soc_icons.share_fb:hover {
    background-position: 0px 0px;
}

#share_panel .share_soc_icons.share_gp {
    background-position: -26px -25px;
}

#share_panel .share_soc_icons.share_gp:hover {
    background-position: -26px 0px;
}

#share_panel .share_soc_icons.share_tw {
    background-position: -128px -25px;
    width: 25px;
}

#share_panel .share_soc_icons.share_tw:hover {
    background-position: -128px 0px;
}
/*endregion show share*/

#auto-show-container .auto-show-data .auto-show-photo_container{
    width: 356px;
    vertical-align: top;
    margin: 5px;
    float: left;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-main_photo{
    width: 356px;
    background: url("../img/no_photo_bg.png") 0 0 repeat #EAEAEA;
    -moz-box-shadow: 0px 0px 10px 0px black;
    -webkit-box-shadow: 0 0 10px 0 black;
    box-shadow: 0px 0px 10px 0px black;
    margin-bottom: 15px;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-main_photo a{
    position: relative;
    display: block;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-main_photo img{
    background: url("../img/preloaders/photo-preloader_72x72.GIF") center no-repeat;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-main_photo span {
    display: block;
    position: absolute;
    background: url('../img/zoom.png') left top no-repeat;
    width: 21px;
    height: 21px;
    right: 8px;
    bottom: 8px;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-main_photo > a{
    position: relative;
    padding: 0;
    cursor: pointer;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-photo_previews{

}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-photo_previews a{
    opacity: .7;
    -webkit-transition: all 0.5s ease;
    text-decoration: none;
}
#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-photo_previews a:hover,
#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-photo_previews a.active{
    opacity: 1;
}

#auto-show-container .auto-show-data .auto-show-photo_container .photo_container-photo_previews a img{
    width: 85px;
    height: 70px;
    background: url(../img/preloaders/cirl-35x35.GIF) center no-repeat;
}

#auto-show-container .auto-show-data .auto-show-content_container{
    margin-left: 380px;
    padding: 5px;
}

#auto-show-container .auto-show-data .auto-show-content_container .auto-show-data_field_container{

}

#auto-show-container .auto-show-data .auto-show-content_container .auto-show-data_field_container li{
    margin: 0;
    padding: 0;
}

#auto-show-container .auto-show-data .auto-show-content_container .auto-show-data_field_container > div{
    margin: 17px 0;
}

#auto-show-container .auto-show-data .auto-show-content_container .auto-show-data_field_container .auto-show-data_title{
    color: #AAA;
}

#auto-show-container .auto-show-data .auto-show-content_container .container-phone{
    font-size: 18px;
    color: #4A4949;
    padding: 0px 5px 18px 10px;
    position: relative;
}

#auto-show-container .auto-show-data .auto-show-content_container .container-phone span{
    color: #4A4949;
}

#auto-show-container .auto-show-data .auto-show-content_container .container-phone a{
    color: white !important;
    display: block;
    background: #373637 url(../img/phone_layer.png) left -3px no-repeat;
    width: 160px;
    height: 18px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    padding: 0 0 3px 0;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 3px;
    line-height: 21px;
}

#auto-show-container .auto-show-data .auto-show-content_container-price{
    background: #D90000;
    margin: 5px 0 8px -4px;
    display: inline;
    padding: 9px 9px 8px 13px;
    border-radius: 10px;
}

#auto-show-container .auto-show-data .auto-show-content_container-price > span{
    color: #ffffff;
    font-size: 18px;
}


#auto-show-container .auto-show-similar_offers{

}

#auto-show-container .auto-show-similar_offers .auto-show-similar_offers-title{
    font-size: 18px;
    color: #666;
}

/* endregion */

/* region table border */
.component-auto .te_top {
    position: static;
    height: auto;
}

.component-auto .te_top td {
    height: 16px;
    vertical-align: top;
    color: #A0A0A0;
    font-weight: bold;
}

.component-auto .te_top .te_img1 {
    background: url('/components/auto/styles/default/img/table/top_top1.png') no-repeat left bottom;
    font-size: 10px;
}

.component-auto .te_top .te_img2 {
    background: url('/components/auto/styles/default/img/table/top_top2.png') repeat-x left bottom;
    width: 100%;
}

.component-auto .te_top .te_img2 p {
    margin: 0 0 0 10px;
    padding: 0 3px 0 3px;
    background: #FFF;
    display: inline;
    font-size: 12px;
}

.component-auto .te_top .te_img3 {
    background: url('/components/auto/styles/default/img/table/top_top3.png') no-repeat right bottom;
    font-size: 10px;
}

.component-auto .te_imgl {
    background: url('/components/auto/styles/default/img/table/top_left.png') repeat-y left top;
    font-size: 10px;
}

.component-auto .te_imgr {
    background: url('/components/auto/styles/default/img/table/top_right.png') repeat-y right top;
    font-size: 10px;
}

.component-auto .te_bottom .te_img1 {
    background: url('/components/auto/styles/default/img/table/top_bottom1.png') no-repeat left top;
    font-size: 10px;
}

.component-auto .te_bottom .te_img2 {
    background: url('/components/auto/styles/default/img/table/top_bottom2.png') repeat-x left top;
}

.component-auto .te_bottom .te_img3 {
    background: url('/components/auto/styles/default/img/table/top_bottom3.png') no-repeat right top;
    font-size: 10px;
}
/* endregion */

/* region add/edit page */
#auto-add-form .msg {
    background: #F0F0F0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 15px 9px 15px;
    margin: 0 0 15px 0;
    line-height: 1.4;
    font-size: 13px !important;
    border: 1px solid #E8E8E8;
}

#auto-add-form #steep {
    font-size: 16px;
    color: red;
}

#auto-add-form .auto_sold {
    text-decoration: line-through;
}

#auto-add-form table.add_data {
    width: 98%;
    margin: 18px 10px 4px 10px;
}

#auto-add-form table.add_data td {
    padding-bottom: 10px;
}

#auto-add-form table.add_data .info {
    width: 90%;
    height: 65px;
}

#auto-add-form table .checkerr {
    border: 1px solid red;
}

#auto-add-form table .captcha_err input {
    border: 1px solid red;
}

#auto-add-form table .data_title {
    color: #666;
    font-weight: bold;
}

#auto-add-form table .data_col1 {
    width: 17%;
}

#auto-add-form table .data_col2 {
    width: 24%;
}

#auto-add-form table .data_col3 {
    width: 14%;
}

#auto-add-form table .data_col4 {
    width: 30%;
}

table.add_data td, .data_more_params table td {
    vertical-align: top;
}

.data_more_params table td #add_phone {
    border-bottom: 1px dashed;
    color: #09C;
    cursor: pointer;
    font-size: 10px;
    float: left;
}

.data_more_params table td #add_phone:hover {
    color: red;
}

#auto-add-form table td .desc {
    font-size: 10px;
    color: #666;
}

#auto-add-form #submit_add_data {
    margin: 20px 0 0 50px;
}

#auto-add-form #submit_add_data input {
    width: 220px;
    height: 30px;
    cursor: pointer;
}

#auto-add-form .data_captcha {
    margin: 20px 0 10px;
}

#auto-add_photo_btn{
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #bcd8f4;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -ms-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    text-align: center;
    overflow: hidden;
    width: 822px;
    margin: 0 auto;
    height: 70px;
}

#auto-add_photo_btn .auto-add-upload_cap{
    display: none;
}

#auto-add_photo_btn .auto-add-upload_btn{
    display: block;
}

#auto-add_photo_btn.max-limit .auto-add-upload_cap{
    display: block;
}

#auto-add_photo_btn.max-limit .auto-add-upload_btn{
    display: none;
}

#auto-add_photo_btn > div{
    position: relative;
}

#auto-add_photo_btn input{
    position: absolute;
    left: -10px;
    top: -10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    opacity: 0;
}

#auto-add_photo_btn .auto-add-upload_btn-title{
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

#auto-add_photo_btn .auto-add-upload_btn-desc{
    color: #808080;
    font-size: 0.85em;
}

.auto-add-photo_manager-container{
    overflow: hidden;
    width: 810px;
    margin: 10px auto;
    padding: 10px;
    background: #F7FAFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.auto-add-photo_manager-container .photo_item {
    position: relative;
    float: left;
    margin: 15px;
    cursor: pointer;
    width: 130px;
    height: 126px;
    font-size: 11px;
}

.auto-add-photo_manager-container .photo_item img {
    padding: 1px;
    width: 128px;
    height: 90px;
    border: 1px solid #000000;
}

.auto-add-photo_manager-container .photo_item:hover img {
    box-shadow: 0 0 10px 0 black;
}

.auto-add-photo_manager-container .photo_item.main img {
    border: 1px solid #D3DCFF;
    box-shadow: 0 0 10px 0 #2598ff;
    -moz-box-shadow: 0 0 10px 0 #2598ff;
}

.auto-add-photo_manager-container .photo_item.main:hover img {
    border: 1px solid #00ff13;
    box-shadow: 0 0 10px 0 #00ff13;
    -moz-box-shadow: 0 0 10px 0 #ffffff;
}

.auto-add-photo_manager-container .photo_item.uploaded{
    background: url("../img/preloaders/photo-preloader_72x72.GIF") center no-repeat;
}

.auto-add-photo_manager-container .photo_item.upload{

}

.auto-add-photo_manager-container .photo_item.upload:hover{

}

.auto-add-photo_manager-container .photo_item.upload .progressBar{
    background: blue;
    text-align: center;
    position: absolute;
    top: 26px;
    height: 20px;
}

.auto-add-photo_manager-container .photo_item.main .photo_item_main {
    display: none !important;
}

.auto-add-photo_manager-container .photo_item .photo-controls > div:hover{
    text-decoration: underline;
}

.auto-add-photo_manager-container .photo_item .photo-controls .setmain.selected{
    text-decoration: none;
    cursor: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-service-container.disabled .admin-service-info{
    display: none;
}

/* endregion */

.cabinet-edit-controls{
    margin-bottom: 10px;
    background: rgb(252, 252, 252);
    padding: 10px 0;
    border: 1px solid rgb(255, 249, 215);
    overflow: hidden;
}

.cabinet-edit-controls a{
    text-decoration: none;
    padding: 10px 0 10px 30px;
    float: left;
}

.cabinet-edit-controls a.edit{
    background: url(../img/edit.png) left no-repeat;
}
.cabinet-edit-controls a.photomanager{
    background: url(../img/photomanager.png) left no-repeat;
}
.cabinet-edit-controls a.questions{
    background: url(../img/questions.png) left no-repeat;
}
.cabinet-edit-controls a.show{
    float: right;
    background: url(../img/preview.png) left no-repeat;
}

.cabinet-edit-controls a:hover{
    text-decoration: underline;
}

.cabinet-edit-controls a.selected{
    color: red;
    text-decoration: underline;
}

.auto-show-qa-container .auto-ar_form-container{
    display: none;
}

.auto-show-qa-container.open .auto-ar_form-container{
    display: block;
}

.auto-show-qa-container .auto-ar_form-show{
    font-size: 14px;
    font-weight: bold;
}

.auto-show-qa-container.open .auto-ar_form-show{
    color: red;
    font-weight: normal;
}

.auto-show-qa-container .auto-ar_form-container{
    background: whitesmoke;
    padding: 13px 5px 15px 19px;
    border: 1px solid #E8E8E8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0 12px 0;
    position: relative;
    box-shadow: 1px 1px 10px 0 rgb(182, 182, 182);
    -moz-box-shadow: 2px 2px 5px 0 black;
    width: 555px;
}

.auto-show-qa-container .auto-ar_form-container form{

}

.auto-show-qa-container .auto-ar_form-container form > span{
    position: absolute;
    top: -7px;
    left: 34px;
    background: url(../img/autoCo.png) -13px bottom no-repeat;
    width: 11px;
    height: 7px;
    display: block;
}

.auto-show-qa-container .auto-ar_form-container textarea{
    resize: vertical;
}

#question_layer {
    margin-left: 300px;
}

#question_layer .item_question {
    padding: 10px 0 0;
}

#question_layer .item_question:hover .question {
    border-color: #a6a6a2;
}

#question_layer .item_question:hover .question > div.questionar {
    background-position: -41px -13px;
}

#question_layer .item_question:hover .answer {
    border-color: #d8d1c8;
}

#question_layer .item_question:hover .answer >div {
    background-position: 0px -13px;
}

#question_layer .item_question .question {
    background: whiteSmoke;
    padding: 5px 5px 8px 15px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin: 0 60px 5px 0px;
    position: relative;
    box-shadow: 0px 0px 3px 1px rgb(232, 248, 255);
    overflow: hidden;
}

#question_layer .item_question .question .question-author,
#question_layer .item_question .question .question-date,
#question_layer .item_question .question .question-owner{
    font-weight: bold;
}

#question_layer .item_question .question .question-owner{
    float: right;
    color: blue;
}

#question_layer .item_question .question .question-show_type{
    margin-top: 5px;
    font-weight: bold;
    float: right;
}

#question_layer .item_question .question p{
    color: #808080;
}

#question_layer .item_question .question > div.questionar {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -7px;
    background: url('../img/autoCo.png') no-repeat;
    width: 7px;
    height: 12px;
    background-position: -41px 0px;
}

#question_layer .item_question .answer {
    background: #FFF8EC;
    padding: 5px 5px 8px 15px;
    border: 1px solid #E8E8E8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0 5px 60px;
    position: relative;
}

#question_layer .item_question .answer>div {
    position: absolute;
    top: 6px;
    bottom: 0;
    right: -7px;
    background: url('../img/autoCo.png') no-repeat;
    width: 7px;
    height: 12px;
    background-position: 0px 0px;
}

/* region cabinet quest */
.auto-cabinet-question-container {

}

.auto-cabinet-question-container .question-new{
    color: red;
    font-weight: bold;
}


.auto-cabinet-question-container .item-contacts{
    float: left;
    width: 300px;
}

.auto-cabinet-question-container .item-contacts .contacts-title{
    font-weight: bold;
}

.auto-cabinet-question-container .item_question {
    padding: 10px 0 0;
    margin-left: 300px;
}

.auto-cabinet-question-container .item_question:hover .question {
    border-color: #a6a6a2;
}

.auto-cabinet-question-container .item_question:hover .question > div.questionar {
    background-position: -41px -13px;
}

.auto-cabinet-question-container .item_question:hover .answer {
    border-color: #d8d1c8;
}

.auto-cabinet-question-container .item_question .answer textarea{
    width: 97%;
    height: 100px;
    resize: vertical;
}

.auto-cabinet-question-container .item_question:hover .answer >div {
    background-position: 0px -13px;
}

.auto-cabinet-question-container .item_question .question {
    background: whiteSmoke;
    padding: 5px 5px 8px 15px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    margin: 0 60px 5px 0px;
    position: relative;
    box-shadow: 0px 0px 3px 1px rgb(232, 248, 255);
}

.auto-cabinet-question-container .item_question .question .question-author,
.auto-cabinet-question-container .item_question .question .question-date,
.auto-cabinet-question-container .item_question .question .question-owner{
    font-weight: bold;
}

.auto-cabinet-question-container .item_question .question .question-owner{
    float: right;
    color: blue;
}

.auto-cabinet-question-container .item_question .question p{
    color: #808080;
}

.auto-cabinet-question-container .item_question .question > div.questionar {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: -7px;
    background: url('../img/autoCo.png') no-repeat;
    width: 7px;
    height: 12px;
    background-position: -41px 0px;
}

.auto-cabinet-question-container .item_question .answer {
    background: #FFF8EC;
    padding: 5px 5px 8px 15px;
    border: 1px solid #E8E8E8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 7px 0 5px 60px;
    position: relative;
}

.auto-cabinet-question-container .item_question .answer>div {
    position: absolute;
    top: 6px;
    bottom: 0;
    right: -7px;
    background: url('../img/autoCo.png') no-repeat;
    width: 7px;
    height: 12px;
    background-position: 0px 0px;
}

/* endregion */


/* region paid_services */
.paid-services-container{
    width: 600px;
}

.paid-services-container .paid_ser_title{
    font-weight: bold;
}

.paid-services-container ul{
    padding: 0;
    margin: 0;
}

.paid-services-container .paid_service.inactive{
    cursor: default;
}

.paid-services-container .paid_service .inactive-hint{
    display: none;
}

.paid-services-container .paid_service.inactive .inactive-hint{
    display: block;
    color: red;
    font-weight: bold;
}

.paid-services-container .paid_service{
    margin: 10px 0;
    list-style: none;
    background: rgb(247, 247, 247);
    padding: 5px;
    cursor: pointer;
}

.paid-services-container .paid_service:hover{
    background: rgb(233, 233, 233);
}

.paid-services-container .paid_service .service_cost{
    display: inline-block;
    background: rgb(191, 255, 189);
    padding: 5px 10px;
    border-radius: 50%;
}

.paid-services-container .paid_service .service_duration{
    display: inline-block;
    background: rgb(189, 207, 255);
    padding: 5px 10px;
    border-radius: 50%;
}

.paid-services-container .paid_description-container .paid-ico{
    display: inline-block;
}
/* endregion paid_services */

/* endregion */


.minicolors {
    position: relative;
}

.minicolors-swatch {
    position: absolute;
    vertical-align: middle;
    background: url(jquery.minicolors.png) -80px 0;
    border: solid 1px #ccc;
    cursor: text;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.minicolors-swatch-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.minicolors input[type=hidden] + .minicolors-swatch {
    width: 28px;
    position: static;
    cursor: pointer;
}

/* Panel */
.minicolors-panel {
    position: absolute;
    width: 173px;
    height: 152px;
    background: white;
    border: solid 1px #CCC;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 99999;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
}

.minicolors-panel.minicolors-visible {
    display: block;
}

/* Panel positioning */
.minicolors-position-top .minicolors-panel {
    top: -154px;
}

.minicolors-position-right .minicolors-panel {
    right: 0;
}

.minicolors-position-bottom .minicolors-panel {
    top: auto;
}

.minicolors-position-left .minicolors-panel {
    left: 0;
}

.minicolors-with-opacity .minicolors-panel {
    width: 194px;
}

.minicolors .minicolors-grid {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 150px;
    height: 150px;
    background: url(jquery.minicolors.png) -120px 0;
    cursor: crosshair;
}

.minicolors .minicolors-grid-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: none;
}

.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
    background: url(jquery.minicolors.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
    background: black;
}

.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0;
}

.minicolors-slider,
.minicolors-opacity-slider {
    position: absolute;
    top: 1px;
    left: 152px;
    width: 20px;
    height: 150px;
    background: white url(jquery.minicolors.png) 0 0;
    cursor: row-resize;
}

.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-opacity-slider {
    left: 173px;
    background-position: -40px 0;
    display: none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
    display: block;
}

/* Pickers */
.minicolors-grid .minicolors-picker {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 12px;
    height: 12px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: -6px;
    margin-left: -6px;
    background: none;
}

.minicolors-grid .minicolors-picker > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: solid 2px white;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.minicolors-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: white;
    border: solid 1px black;
    margin-top: -2px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Inline controls */
.minicolors-inline {
    display: inline-block;
}

.minicolors-inline .minicolors-input {
    display: none !important;
}

.minicolors-inline .minicolors-panel {
    position: relative;
    top: auto;
    left: auto;
    box-shadow: none;
    z-index: auto;
    display: inline-block;
}

/* Default theme */
.minicolors-theme-default .minicolors-swatch {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}
.minicolors-theme-default.minicolors {
    width: auto;
    display: inline-block;
}
.minicolors-theme-default .minicolors-input {
    height: 22px;
    width: auto;
    display: inline-block;
    padding-left: 26px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-input {
    padding-right: 26px;
    padding-left: inherit;
}

/* Bootstrap theme */
.minicolors-theme-bootstrap .minicolors-swatch {
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}
.minicolors-theme-bootstrap .minicolors-swatch-color {
    border-radius: inherit;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 3px;
}
.minicolors-theme-bootstrap .minicolors-input {
    padding-left: 44px;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
    padding-right: 44px;
    padding-left: 12px;
}
.minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
    top: 4px;
    left: 4px;
    width: 37px;
    height: 37px;
    border-radius: 5px;
}
.minicolors-theme-bootstrap .minicolors-input.input-sm + .minicolors-swatch {
    width: 24px;
    height: 24px;
}